/* libarary Font Size */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

/* Normaly */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
}



.container{
    max-width: 1200px;
    margin: auto;
}

ul{
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block; 
    transition: 0.3s;     
    color: inherit;        
}
/* شكل الاسكرول */

/* 1. تحديد عرض السكرول بار */
::-webkit-scrollbar {
    width: 9px; 
}

/* 2. شكل الخلفية (المسار اللي بيمشي فيه السكرول) */
::-webkit-scrollbar-track {
    background: #0681cd; 
    border-radius: 7px;
}

/* 3. شكل "المقبض" نفسه (الجزء اللي بيتحرك) */
::-webkit-scrollbar-thumb {
    background: rgb(0, 81, 128); 
    border-radius: 10px;
    width: 8px;
    border: none;
    cursor: pointer;
}


::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 71, 112);
}




/* Header Start */

.header {
    direction: rtl;
  width: 100%; /* لازم تدي عرض كامل أو محدد */
  max-width: 1400px;
  height: 120px;
  display: flex;
  position: fixed;
  top: 0; 
  left: 50%; /* يحرك الهيدر لنص الشاشة */
  transform: translateX(-50%); /* يرجعه لورا نص عرضه عشان يتوسطن بالظبط */
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  color: black;
  background-color: transparent;
  z-index: 1000; 
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px); 
}

.logo  img{
    margin-top: 15px;
    width: 100px;
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
}

.logo img:hover{
    transform: scale(1.1);
}

.humburger {
  display: none;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
    direction: rtl;
    margin-top: 15px;
  direction: rtl;

}

.navbar ul li a {
  color: rgb(4, 78, 139);
  text-decoration: none;
  margin: 0 20px;
  font-weight: 900;
  font-size: 23px;
  padding: 10px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.navbar ul li a:hover{
    background-color: #0681cd;
    color: white;
}

/* Header End */



/* Home Start */

#home{
    background: url("img/gg.png")center center/cover no-repeat;
    height: 100vh;
    width: 100%;
}

#home .home-all {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
}





.content-text {
    max-width: 500px; 
    margin: auto; 
    direction: rtl;    
    padding: 20px;
    border-radius: 10px;
   
    margin-right: 60%;

    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: center; 
}

.content-text h1{
  color: #2b2929;
  text-align: center;
  font-size: 60px;
  margin-bottom: 18px;
}

.content-text h1 span{
    color: #0681cd;
}
.content-text p{
    font-weight: 800;
    font-size: 25px;
    margin-top: 10px;
    text-align: center;
    line-height: 1.6;
    color: #2b2929;
    margin-bottom: 30px;
}



.content-text a {
    font-size: 30px;
    font-weight: 900;
    color: white;
    background-color: #0681cd;
    padding: 15px 30px; 
    border-radius: 40px;
    transition: all 0.3s ease;
}

.content-text a:hover{
  background-color: #026aab;
}

/* Home End */

/* features Start */

#features{
  padding: 4rem 0;
background-color: #c6f1fc;
}

#features .title{
  padding-bottom: 5rem;
  color: rgb(2, 62, 102); 
  text-align: center;
}

#features .title h2{
  font-size: 50px;
  margin-bottom: 10px;
}

#features .title h2 span{
  color: #0479a4;
}

#features .title p{
  font-weight: 600;
  color: rgb(4, 110, 192);
  font-size: 22px;
  max-width: 170px;
  margin: auto;
}

#features .title i {
    vertical-align: middle; /* يخلي الأيقونة في نص السطر بالظبط */
    font-size: 22px;
    margin-bottom: 15px;
    cursor: pointer;
}

#features .items{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap: 40px;
}

#features .items .item{
  background-color: #0681cd;
  text-align: center;
  padding: 25px 30px 40px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  border-bottom:6px solid #5ec8f1;

}

#features .items .item:hover{
  transform: translateY(-10px);

}

#features .items .item i{
  font-size: 50px;
  margin-bottom: 17px;
}

#features .items .item h2{
  font-size: 35px;
  margin-bottom: 20px;
}

#features .items .item p{
  font-weight: 600;
  font-size: 23px;
  line-height: 1.5;

}
/* features End */











/* media special Start navbar*/

@media (max-width: 900px) {
  .header {
    padding: 0 3rem;
    position: relative;
  }

  .humburger {
    display: block;
    cursor: pointer;
    font-size: 25px;
    width: 45px;
    height: 45px;
    position: relative;
  }

  .humburger i {
    position: absolute;
    inset: 0;
    /* left: 0;
    top: 0;
    bottom: 0;
    right: 0; */
    margin: auto;
    width: max-content;
    height: max-content;
    opacity: 0;
    transition: 0.3s ease;
  }

  .humburger i.active {
    opacity: 1;
    transform: rotate(180deg);
  }

  .navbar {
    position: absolute;
    background-color: #333;
    top: 80px;
    left: 0;
    width: 100%;
    padding: 0 3rem;
    opacity: 0;
    transition: 0.3s ease;
  }

  .navbar.active {
    opacity: 1;
  }

  .navbar ul {
    display: block;
  }

  .navbar ul li {
    margin: 20px 0;
    border-bottom: 1px solid #a4a4a4;
    padding-bottom: 10px;
  }

  .navbar ul li:last-child {
    border-bottom: none;
  }

  .navbar ul li a {
    margin: 0;
  }
}






/* media special End  navbar*/