/* libarary Font Size */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

/* Normaly */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
}



.container{
    max-width: 1200px;
    margin: auto;
}

ul{
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block; 
    transition: 0.3s;     
    color: inherit;        
}
/* شكل الاسكرول */

/* 1. تحديد عرض السكرول بار */
::-webkit-scrollbar {
    width: 9px; 
}

/* 2. شكل الخلفية (المسار اللي بيمشي فيه السكرول) */
::-webkit-scrollbar-track {
    background: #0681cd; 
    border-radius: 7px;
}

/* 3. شكل "المقبض" نفسه (الجزء اللي بيتحرك) */
::-webkit-scrollbar-thumb {
    background: rgb(0, 81, 128); 
    border-radius: 10px;
    width: 8px;
    border: none;
    cursor: pointer;
}


::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 71, 112);
}




/* Header Start */

.header {
  direction: rtl;
  width: 100%; /* لازم تدي عرض كامل أو محدد */
  height: 130px;
  display: flex;
  position: fixed;
  top: 0; 
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  color: black;
  background-color: transparent;
  z-index: 1000; 
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px); 
}

.logo  img{
    margin-top: 15px;
    width: 100px;
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
}

.logo img:hover{
    transform: scale(1.1);
}

.humburger {
  display: none;
}



.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
    direction: rtl;
    margin-top: 15px;
  direction: rtl;

}

.navbar ul li a {
  color: rgb(4, 78, 139);
  text-decoration: none;
  margin: 0 20px;
  font-weight: 900;
  font-size: 23px;
  padding: 10px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.navbar ul li a:hover{
    background-color: #0681cd;
    color: white;
}

/* Header End */





/* Home Start */

#home{
    background: url("img/gg.jpg")center center/cover no-repeat;
    height: 100vh;
    width: 100%;
    
}

#home .home-all {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
}

 


.content-text {
    max-width: 500px; 
    margin: auto; 
    direction: rtl;    
    padding: 20px;
    border-radius: 10px;
   
    margin-right: 60%;

    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: center; 
}

.content-text h1{
  color: #2b2929;
  text-align: center;
  font-size: 60px;
  margin-bottom: 18px;
}

.content-text h1 span{
    color: #0681cd;
}
.content-text p{
    font-weight: 800;
    font-size: 25px;
    margin-top: 10px;
    text-align: center;
    line-height: 1.6;
    color: #2b2929;
    margin-bottom: 30px;
}



.content-text a {
    font-size: 30px;
    font-weight: 900;
    color: white;
    background-color: #0681cd;
    padding: 15px 30px; 
    border-radius: 40px;
    transition: all 0.3s ease;
}

.content-text a:hover{
  background-color: #026aab;
}

/* Home End */

/* features Start */

#features{
  padding: 4rem 0;
background-color: #44d6fa;
}

#features .title{
  padding-bottom: 5rem;
  color: rgb(2, 62, 102); 
  text-align: center;
}

#features .title h2{
  font-size: 50px;
  margin-bottom: 10px;
}

#features .title h2 span{
  color: #ffffff;
}

#features .title p{
  font-weight: 600;
  color: rgb(255, 255, 255);
  font-size: 22px;
  max-width: 170px;
  margin: auto;
}

#features .title i {
    vertical-align: middle; /* يخلي الأيقونة في نص السطر بالظبط */
    font-size: 22px;
    margin-bottom: 15px;
    cursor: pointer;
}

#features .items{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap: 40px;
  margin: 0 1rem;

}

#features .items .item{
  background-color: #0681cd;
  text-align: center;
  padding: 25px 30px 40px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  border-bottom:6px solid #ffffff;

}

#features .items .item:hover{
  transform: translateY(-10px);

}

#features .items .item i{
  font-size: 50px;
  margin-bottom: 17px;
}

#features .items .item h2{
  font-size: 35px;
  margin-bottom: 20px;
}

#features .items .item p{
  font-weight: 600;
  font-size: 23px;
  line-height: 1.5;

}
/* features End */



/* Models Start */

#prducts {
  padding: 6rem 0;
  background-color: #cbe6fa;
}

#prducts .title {
  text-align: center;
  margin-bottom: 40px;
}

#prducts .title h2 {
  font-size: 50px;
  color: #01356d;
  font-weight: 800;
}

#prducts .title p {
  color: #292828;
  font-size: 21px;
  max-width: 300px;
  font-weight: 600;
  margin: 15px auto 0;
}

#prducts .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
  gap: 25px;
  justify-content: center;
  margin: 0 1rem;
}

#prducts .cards .card {
  border-radius: 15px;
  background-color: #ffffff;
  border: 4px solid transparent;
  box-shadow: 0 10px 20px rgba(0,0,0,0.05);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  overflow: hidden; 
  height: 100%; 
}

#prducts .cards .card:hover {
  box-shadow: 0 15px 30px rgba(0,0,0,0.1);
  border: 4px #ffc107 solid; 
  transform: translateY(-10px);
}

#prducts .cards .card img {
  width: 100%;
  height: 350px; 
  object-fit: contain; 
  padding: 20px; 
  box-sizing: border-box;
  background-color: #fff;
}

#prducts .cards .card .details {
  background-color: #01356d; 
  color: white;
  width: 100%;
  padding: 25px;
  text-align: right;
  flex: 1;
  display: flex;
  flex-direction: column;
}

#prducts .cards .card .details h3 {
  font-size: 25px;
  color: #ffffff;
  margin-bottom: 10px;
}

#prducts .cards .card .details .stars {
  color: #ffc107;
  margin-bottom: 12px;
}

#prducts .cards .card .details .price {
  color: #ffc107;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: auto; /* بيزق السعر لتحت خالص في الديتيلز لو الكلام قليل */
}

#prducts .cards .card .details .description {
  font-size: 19px;
  color: #ffffff;
  line-height: 1.5;
  font-weight: 500;
  margin-bottom: 15px;
}
/* Models End */


/* offers Start  */
#offers{
  padding: 6rem 0;
  background-color: hsl(192, 89%, 86%);
  background: url("img/bg.jpg") center center/cover;
  background: url("img/time-set-in.png") center center/cover;
  background: url("img/time-in-ramdan.jpg") center center/cover;
}



#offers .title{
  margin-bottom: 3rem;
  text-align: center;
}

#offers .title i{
    vertical-align: middle; /* يخلي الأيقونة في نص السطر بالظبط */
    font-size: 22px;
    margin-bottom: 15px;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

#offers .title h2{
  color: rgb(255, 255, 255);
  font-size: 50px;
  margin-bottom: 15px;
}

#offers .title p{
    color: rgb(214, 240, 120);
    max-width: 300px;
    margin: auto;
    font-size: 20px;
    font-weight: 600;
}

#offers .items-offer{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap: 30px;
}

#offers .items-offer .item{
  cursor: pointer;
  background-color: #ffffff;
  padding: 25px 40px;
  text-align: center;
  border-radius: 15px;
  position: relative;
  transition: all 0.3s ease;
  border: 5px solid rgba(255, 193, 7, 0.2); 
  
}



#offers .items-offer .item img{
  width: 100%;
}


#offers .items-offer .item:hover {
  transform: translateY(-10px);
}

#offers .items-offer .item h3{
  color: #026aab;
  font-size: 30px;
  font-weight: 900;
  margin-bottom:15px;
}

#offers .items-offer .item p{
  color: #01356d;
  font-size: 20px;
  padding-bottom: 15px;
  font-weight: 700;
  max-width: 190px;
  line-height: 1.5;
  margin: auto;
}

#offers .items-offer .item span{
    position: absolute;
    top: 20px;
    left: 0;
    padding: 5px 20px 5px 14px;
    color: white;
    font-weight: 600;
    font-size: 15px;
    background-color: #e98324; 
    clip-path: polygon(100% 0, 82% 51%, 100% 100%, 0% 100%, 0 50%, 0% 0%);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

#offers .items-offer .item p del{
  margin-left: 10px;
  color: #5d5b5b;
  font-size: 18px;
}

#offers .items-offer .item .p{
  font-size: 29px;
  color: #e98324;
}

#offers .items-offer .item a{
  background-color: #01356d;
  padding: 15px 25px;
  border-radius: 28px;
  color: white;
  font-size: 25px;
  font-weight: 600;
  transition: all 0.3s ease;
  margin-top: 14px;
  letter-spacing: 1px;
}


#offers .items-offer .item a:hover{
   background-color: #026aab;
}

/* offers End  */


/* Footer Start */

.footer-top{
  background-color: #1a7bd1;
  color: white;
  padding: 6rem 0;
  direction: rtl;

}

.containner{
  max-width: 1500px;
  margin: auto;
}

.footer-top .row{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}

.footer-top .row .links h3{
    font-size: 26px;
}

.footer-top .row .links hr{
  width: 110px;
  height: 3px;
  border: none;
  background-color: white;
  margin: 7px 0 15px;
}

.footer-top .row .links ul li a{
  font-size: 17.5px;
  font-weight: 600;
  margin-bottom: 15px; 
  transition: all 0.3s ease;
}


.footer-top .row .links ul li a:hover{
  transform: translateX(10px);
  color: #e9cc24;
}

.footer-top .row .links ul li a i{
  margin-left: 7px;
}



.footer-top .row .time{
  margin-left: 100px;
}


.footer-top .row .time h3{
  font-size: 26px;
}
.footer-top .row .time hr{
  width: 113px;
  height: 3px;
  border: none;
  background-color: white;
  margin: 7px 0 15px;
}

.footer-top .row .time p{
  font-weight: 600;
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 20px;
}

.footer-top .row .time ul li {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 18px;
}

.footer-top .row .social h3{
 font-size: 30px;
}

.footer-top .row .social hr{
  width: 90px;
  height: 3px;
  border: none;
  background-color: white;
  margin: 7px 0 15px;
}

.footer-top .row .social ul{
  display: flex;
  align-items: center;
  gap: 20px;

}


.footer-top .row .social ul li a i.fa-facebook-f{
  background-color: #0b5bd3;
}
.footer-top .row .social ul li a i.fa-whatsapp{
  background-color: rgba(6, 196, 6, 0.713);
}
.footer-top .row .social ul li a i.fa-users{
  background-color: rgba(6, 196, 6, 0.832);
}
.footer-top .row .social ul li a i{
  margin-top: 10px;
   font-size: 27px;
    color: white;
    padding: 15px;
    border-radius: 50%;
    border: 3px solid white;
    width: 63px;
    height: 60px;
    text-align: center;
    transition: all 0.3s ease;
}

.footer-top .row  .social ul li i:hover{
  background-color: #035fb0;
  transform: translateY(-10px);
}

.footer-top .row .social ul li a .fa-user-group{
  margin-left: 100px;
}


.footer-top .row .title h3{
  font-size: 30px;
} 

.footer-top .row .title hr{
  width: 165px;
  height: 3px;
  border: none;
  background-color: white;
  margin: 7px 0 15px;
}

.footer-top .row .title p{
  font-weight: 600;
  font-size: 18px;
  max-width: 300px;
  line-height: 1.6;
}

.footer-top .row .col{
  margin-bottom:4rem;
}

.footer-bootom{
  background-color: #026aab;
  width: 100%;
}

.footer-bootom p{
  text-align:center;
  color: white;
  font-size: 25px;
  font-weight: 600;
  padding: 14px;
}
/* Footer End */







/* media special Start navbar*/

@media (max-width: 1200px) {
  .header {
    padding: 0 3rem;
    position: fixed;

  }

  .humburger {
    display: block;
    cursor: pointer;
    font-size: 25px;
    width: 45px;
    height: 45px;
    position: relative;
  }


  .humburger i {
    position: absolute;
    inset: 0;
    /* left: 0;
    top: 0;
    bottom: 0;
    right: 0; */
    margin: auto;
    width: max-content;
    height: max-content;
    opacity: 0;
    color: white;
    background-color: #01356d;
    padding: 10px;
    font-size: 30px;
    border-radius: 10px;
    transition: 0.3s ease;
  }

  .humburger i.active {
    opacity: 1;
    transform: rotate(180deg);
  }

  .navbar {
    position: absolute;
    background-color: #ffffff;
    top: 130px;
    left: 0;
    width: 100%;
    padding: 0 3rem;
    opacity: 0;
    transition: 0.3s ease;

    visibility: hidden;    /* يخليها مخفية تماماً عن المتصفح */
    pointer-events: none;
  }

  .navbar.active {
    opacity: 1;
    visibility: visible;   /* ترجع تتحس */
    pointer-events: auto;  /* ترجع تستقبل دوسات */
    top: 130px;            /* حركة انسيابية بسيطة لو حبيت */
  }

  .navbar ul {
    display: block;
  }

  .navbar ul li {
    margin: 20px 0;
    border-bottom: 1px solid #a4a4a4;
    padding-bottom: 10px;
  }

  .navbar ul li:last-child {
    border-bottom: none;
  }

  .navbar ul li a {
    margin: 0;
  }


  .header{
            backdrop-filter: blur(0px) !important;
        -webkit-backdrop-filter: blur(0px) !important;
  }
  .header:has(.navbar.active) {
        backdrop-filter: blur(15px) !important;
        -webkit-backdrop-filter: blur(15px) !important;
        background-color: rgba(0, 0, 0, 0.3);
    }
}


/* media special End  navbar*/


/* media Start */


@media(max-width:1500px){
.containner{
  margin: 0 1.5rem;
}
}



@media(max-width:1220px){

#home {
    background-image: url("img/gg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;
    background-position: 80% center; 
    z-index: 5;

    }

    #home::before{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.4);
        z-index: -1; 
    }

    #offers{
      position: relative;
      z-index: 1;
    }

    #offers::before{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.4);
        z-index: -1; 
    }

    #home .content-text{
      margin: auto;
      z-index: 5;
    }

    #home .content-text h1{
      color: white;
    }

    #home .content-text p{
      color: white;
    }


    #offers .items-offer{
      margin: 0 1.2rem;
    }
}

@media(max-width:500px){
  #home .content-text{
    margin-top: 10rem;
  }

  #home .content-text h1{
    font-size: 50px;
  }

  #home .content-text p{
    font-size: 20px;
    max-width:400px;
    line-height: 1.8;
    margin:0.5rem auto 2rem;
    
  }
}

/* media End */